<%- include('./partials/header') %>

<style>
    /* Add your custom CSS styles here */
    .container {
        max-width: 600px;
        margin-top: 50px;
        background-color: #f8f9fa; /* Set background color to a light shade */
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


    label {
        font-weight: bold;
    }

    /* Custom style for input fields */
    .form-control {
        border: 1px solid #000; /* Set border color to black */
    }

    /* Add more styles as needed */

</style>

<div class="container mt-5">
    <h1 class="mb-4">Tạo Điểm đặt quảng cáo mới</h1>

    <form action="/weads/place/addAdPlacement" method="post">
        <div class="mb-3 form-group">
            <label for="coordinates" class="form-label">Tọa độ (Latitude, Longitude):</label>
            <input type="text" class="form-control" id="coordinates" name="coordinates" value="<%= lat %>, <%= lng %>" readonly>
        </div>

        <div class="mb-3 form-group">
            <label for="district" class="form-label">Quận:</label>
            <input type="text" class="form-control" id="district" name="district" value="<%= district %>" readonly>
        </div>

        <div class="mb-3 form-group">
            <label for="ward" class="form-label">Phường:</label>
            <input type="text" class="form-control" id="ward" name="ward" value="<%= ward %>" readonly>
        </div>

        <div class="mb-3 form-group">
            <label class="form-label">Loại vị trí:</label>
            <div>
                <% for (var i = 0; i < locationTypes.length; i++) { %>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="locationType<%= i %>" name="locationType[]" value="<%= locationTypes[i].name %>">
                        <label class="form-check-label" for="locationType<%= i %>"><%= locationTypes[i].name %></label>
                    </div>
                    <% if (i === 2) { %>
                        </div>
                        <div>
                    <% } %>
                <% } %>
            </div>
        </div>

        <div class="mb-3 form-group">
            <label for="adType" class="form-label">Hình thức quảng cáo:</label>
            <select class="place-adType-select" id="adType" name="adType" required>
                <% adTypes.forEach(function(type) { %>
                    <option value="<%= type.name %>"><%= type.name %></option>
                <% }); %>
            </select>
        </div>

        <div class="mb-3 form-group">
            <label for="adPlanned" class="form-label">Quy hoạch (1: Đã quy hoạch, 0: Chưa quy hoạch):</label>
            <input type="number" min="0" max="1" class="form-control" id="adPlanned" name="adPlanned" required>
        </div>

        <span class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Thêm Điểm đặt</button>
        </span>
    </form>

    <a href="/weads/home">
        <button class="btn btn-secondary mt-3">
            <i class="bi bi-arrow-left-circle-fill"></i>
            Trở về
        </button>
    </a>
</div>

<%- include('./partials/footer') %>
