<%- include('./partials/header') %>

<form id="create-account-form" action="/weads/department/create" method="post" style="width: 70vw; margin: auto; margin-top: 7vh; margin-bottom: 5vh;">
  <div class="border border-secondary rounded p-3" style="font-size: 1.2rem;">
    <div class="text-center mb-3 ">
      <h3 class="create-account-title">Tạo tài khoản cán bộ</h3>
    </div>

    <div class="mb-3 form-group row">
      <label for="email" class="form-label col-3 col-lg-2 create-account-label">Google Email:</label>
      <div class="col-9">
        <input type="email" class="form-control create-account-input" id="email" name="email" <%if(body){%> value="<%- body.email %>" <% } %> required>
        <% if(emailMessage) {%>
        <span class="text-danger "><%- emailMessage %></span>
        <% } %>
      </div>
    </div>

    <div class="mb-3 form-group row">
      <label for="username" class="form-label col-3 col-lg-2 create-account-label">Tên tài khoản:</label>
      <div class="col-9">
        <input type="text" class="form-control create-account-input" id="username" name="username" <%if(body){%> value="<%- body.username %>" <% } %> required>
        <% if(usernameMessage) {%>
        <span class="text-danger "><%- usernameMessage %></span>
        <% } %>
      </div>
    </div>

    <div class="mb-3 form-group row">
      <label for="username" class="form-label col-3 col-lg-2 create-account-label">Họ & tên cán bộ:</label>
      <div class="col-9">
        <input type="text" class="form-control create-account-input" id="name" name="name" <%if(body){%> value="<%- body.name %>" <% } %> required>
      </div>
    </div>

    <div class="mb-3 form-group row">
      <label for="password" class="form-label col-3 col-lg-2 create-account-label">Mật khẩu:</label>
      <div class="col-9">
        <input type="password" class="form-control create-account-input" id="password" name="password" <%if(body){%> value="<%- body.password %>" <% } %> required>
      </div>
    </div>

    <div class="mb-3 form-group row">
      <label for="phone" class="form-label col-3 col-lg-2 create-account-label">Số điện thoại:</label>
      <div class="col-9">
        <input type="text" class="form-control create-account-input" id="phone" name="phone" <%if(body){%> value="<%- body.phone %>" <% } %> required>
      </div>
    </div>


    <div class="mb-3 form-group row">
      <label for="role" class="form-label col-3 col-lg-2 create-account-label">Cấp cán bộ:</label>
      <div class="col-9">
        <select class="text-center create-account-select" name="role" id="role">
          <option value="Ward">Phường</option>
          <option value="District">Quận</option>
          <option value="Department">Sở</option>
        </select>
      </div>
    </div>


    <div id="district-select-parent" class="mb-3 form-group row">
      <label for="district" class="form-label col-3 col-lg-2 create-account-label">Quận:</label>
      <div class="col-9">
        <select id="district-select" style="border:1px solid #ccc; border-radius: 5px;width:100%;padding: 6px;outline: none;text-align: center;" name="district" id="district">
          <% for (var i = 0; i < districts.length; i++) { %>
            <option style="width: 100%;"><%- districts[i].name %></option>
          <% } %>
        </select>
      </div>
    </div>

    <div id="ward-select-parent" class="mb-3 form-group row">
      <label for="ward" class="form-label col-3 col-lg-2 create-account-label">Phường:</label>
      <div class="col-9">
        <select class="ward-select" style="border:1px solid #ccc; border-radius: 5px;width:100%;padding: 6px;outline: none;text-align: center;" district="<%- districts[0].name %>" name="ward">
          <% for (var i = 0; i < districts[0].wards.length; i++) { %>
            <option style="width: 100%;"><%- districts[0].wards[i].name %></option>
          <% } %>
        </select>
        <% for (var i = 1; i < districts.length; i++) { %>
          <select class="no-display ward-select" style="border:1px solid #ccc; border-radius: 5px;width:100%;padding: 6px;outline: none;text-align: center;" district="<%- districts[i].name %>"  name="other">
          <% for (var j = 0; j < districts[i].wards.length; j++) { %>
            <option style="width: 100%;"><%- districts[i].wards[j].name %></option>
          <% } %>
          </select>
        <% } %>
      </div>
    </div>
    <div class="text-center ">
      <button type="submit" class="btn btn-success create-account-submit">Tạo tài khoản</button>
    </div>
</form>
<script>
  $("#district-select").on('change', function() {
    const districtName = $(this).val();
    const wardSelects = $(".ward-select");
    $(".ward-select").each(function(index,element) {
      if ($(element).attr('district') == districtName) {
        $(element).prop('name', 'ward');
        $(element).removeClass('no-display');
      }
      else {
        $(element).removeProp('name');
        $(element).prop('name', 'other');
        $(element).addClass('no-display');
      }
    });
  });
  $('.create-account-select').on('change', function() {
    const selected = $(this).find(":selected").val();
    if (selected == 'Department') {
      $("#district-select-parent").addClass('no-display');
      $("#ward-select-parent").addClass('no-display');
    }
    else if (selected == 'District') {
      $("#ward-select-parent").addClass('no-display');
      $("#district-select-parent").removeClass('no-display');
    }
    else {
      $("#district-select-parent").removeClass('no-display');
      $("#ward-select-parent").removeClass('no-display');
    }
  });
</script>
<%- include('./partials/footer') %>