<%- include('./partials/header') %>
    
<div class="container mt-5">
    <h1>All District</h1>

    <% if (districts.length > 0) { %>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>SID</th>
                    <th>Name</th>
                    <th>Wards List</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < districts.length; i++) { %>
                    <tr>
                        <td><%= districts[i].sid %></td>
                        <td><%= districts[i].name %></td>
                        <td>
                            <a href="/weads/department/places/allWard/<%= districts[i]._id %>">
                                <i class="bi bi-arrow-right-circle-fill"></i>
                                View All Wards
                            </a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } else { %>
        <p>There are no districts.</p>
    <% } %>

    <!-- Add a link to navigate back or to another page if needed -->
    <a href="/weads/home">Back</a>
</div>

<%- include('./partials/footer') %>