<%- include('./partials/header') %>

<style>
    /* Add your custom CSS styles here */
    .container {
        max-width: 600px;
        margin-top: 50px;
        background-color: #f8f9fa;
        /* Set background color to a light shade */
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


    label {
        font-weight: bold;
    }

    /* Custom style for input fields */
    .form-control {
        border: 1px solid #000;
        /* Set border color to black */
    }
</style>

<div class="container mt-5">
    <h1 class="mb-4">Chỉnh sửa Điểm đặt quảng cáo </h1>

    <form id="edit-place-submit">
        <div class="mb-3 form-group">
            <label for="coordinates" class="form-label">Tọa độ (Latitude, Longitude):</label>
            <input type="text" class="form-control" id="coordinates" name="coordinates" value="<%= adPlacement.coordinates[0] %>, <%= adPlacement.coordinates[1] %>" readonly>
        </div>

        <div class="mb-3 form-group">
            <label for="district" class="form-label">Quận:</label>
            <input type="text" class="form-control" id="district" name="district" value="<%= adPlacement.district %>" readonly>
        </div>

        <div class="mb-3 form-group">
            <label for="ward" class="form-label">Phường:</label>
            <input type="text" class="form-control" id="ward" name="ward" value="<%= adPlacement.ward %>" readonly>
        </div>

        <div class="mb-3 form-group">
            <label class="form-label">Loại vị trí:</label>
            <div>
                <% for (var i = 0; i < locationTypes.length; i++) { %>
                <div class="form-check form-check-inline">
                    <% if (adPlacement.locationType.includes(locationTypes[i].name)) { %>
                    <input checked class="form-check-input location-type-checkbox" type="checkbox" id="locationType<%= i %>" name="locationType" value="<%= locationTypes[i].name %>">
                    <% } else { %>
                    <input class="form-check-input location-type-checkbox" type="checkbox" id="locationType<%= i %>" name="locationType" value="<%= locationTypes[i].name %>">
                    <% } %>
                    <label class="form-check-label" for="locationType<%= i %>"><%= locationTypes[i].name %></label>
                </div>
                <% } %>
            </div>
        </div>

        <div class="mb-3 form-group">
            <label for="adType" class="form-label">Hình thức quảng cáo:</label>
            <select class="place-adType-select" id="adType" name="adType" required>
                <% adTypes.forEach(function(type) { %>
                    <% if (adPlacement.adType == type.name) { %>
                        <option selected value="<%= type.name %>"><%= type.name %></option>
                    <% } else { %>
                        <option value="<%= type.name %>"><%= type.name %></option>
                    <% } %>
                <% }); %>
            </select>
        </div>

        <div class="mb-3 form-group">
            <label for="adPlanned" class="form-label">Quy hoạch (1: Đã quy hoạch, 0: Chưa quy hoạch):</label>
            <input type="number" min="0" max="1" class="form-control" id="adPlanned" name="adPlanned" required>
        </div>

        <% if (role != 'Department') { %>
        <div class="mb-3 form-group">
            <label for="reason" class="form-label">Lý do chỉnh sửa:</label>
            <textarea style="resize: none;min-height: 100px;" class="form-control" id="reason" name="reason" required></textarea>
        </div>
        <% } %>



        <span class="d-flex justify-content-center">
            <% if (role == 'Department') { %>
            <button type="submit" class="btn btn-primary">Cập nhật Điểm đặt</button>
            <% } else { %>
            <button type="submit" class="btn btn-primary">Tạo yêu cầu</button>
            <% } %>
        </span>
    </form>
    <a href="/weads/place/allAdPlacement">
        <button class="btn btn-secondary mt-3">
            <i class="bi bi-arrow-left-circle-fill"></i>
            Trở về
        </button>
    </a>

</div>

<% if (role == 'Department') { %>
<script>
    function showSuccessModal() {
        Swal.fire({
            icon: 'success',
            title: 'Cập nhật điểm đặt thành công',
            showCancelButton: false,
            timer: null
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/weads/place/allAdPlacement';
            }
        });
    }
</script>
<% } else { %>
<script>
    function showSuccessModal() {
        Swal.fire({
            icon: 'success',
            title: ' Tạo yêu cầu thành công',
            showCancelButton: false,
            timer: null
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/weads/place/allAdPlacement';
            }
        });
    }
</script>
<% } %>
<script>
    function showErrorModal() {
        Swal.fire({
            icon: 'error',
            title: 'Có lỗi xảy ra, vui lòng thử lại',
            showCancelButton: false,
            timer: null
        });
    }
</script>

<script>
    $(document).ready(function () {
        $('#locationType').val('<%- adPlacement.locationType .join(', ')%>');
        $('#adType').val('<%- adPlacement.adType %>');
        $('#adPlanned').val('<%- adPlacement.adPlanned %>');
    });
</script>
<script>
    $('#edit-place-submit').on('submit', async function (event) {
        event.preventDefault();
        let locationTypes = $(".location-type-checkbox:checked");
        const adType = $('#adType').find(":selected").val();
        const adPlanned = $('#adPlanned').val();
        const reason = $('#reason').val();

        const locationType = [];

        locationTypes.each(function () {
            locationType.push($(this).val());
        });

        const response = await fetch(window.location.pathname, {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                locationType,
                adType,
                adPlanned,
                reason,
            })
        })
        const result = await response.json()
        console.log(result);
        if (result.success)
            showSuccessModal();
        else
            showErrorModal();
    });
</script>
<%- include('./partials/footer') %>