<%- include('./partials/header') %>

<div class="container mt-5">
    <h1>Danh sách các Loại vị trí</h1>

    <% if (types.length > 0) { %>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < types.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= types[i].name %></td>
                        <td class="d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#editTypeModal<%= i %>">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                
                            <!-- Modal edit LocationType -->
                            <div class="modal fade" id="editTypeModal<%= i %>" tabindex="-1" aria-labelledby="editTypeModalLabel<%= i %>" aria-hidden="true">
                                <form action="/weads/place/editType/<%= types[i]._id %>/" method="post">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel<%= i %>">ĐỔI TÊN LOẠI BẢNG QUẢNG CÁO</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="ex-name<%= i %>">Tên loại cũ: </label>
                                                    <br>
                                                    <input type="text" class="form-control" id="ex-name<%= i %>" name="ex-name" value="<%= types[i].name %>" readonly>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Nhập tên loại mới (vd: Đất công, Công viên, Đất tư nhân): </label>
                                                    <br>
                                                    <input type="text" class="form-control" id="name" name="name" required>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Cập nhật</button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <button class="btn btn-danger" onclick="showDeleteConfirmation('<%= types[i]._id %>')">
                                <i class="bi bi-trash"></i>
                            </button>
                
                        </td>
                    </tr>
                <% } %>
                
            </tbody>
        </table>
    <% } else { %>
        <p>Không có loại vị trí nào trong danh sách.</p>
    <% } %>

    <a href="/weads/home">
        <button class="btn btn-secondary">
            <i class="bi bi-arrow-left-circle-fill"></i>
            Trở về
        </button>
    </a>

    <!-- Button add Type -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTypeModal">
        Thêm Loại
    </button>
    
  <!-- Modal add District -->
  <div class="modal fade" id="addTypeModal" tabindex="-1" aria-labelledby="addTypeModalLabel" aria-hidden="true">
    <form action="/weads/place/addType" method="post">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">THÊM LOẠI VỊ TRÍ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="name">Tên loại (vd: Đất công, Công viên, Đất tư nhân): </label>
                <br>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Thêm</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        </div>
      </div>
    </div>
    </form>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (announce === 'delete') { %>
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Xóa thành công',
                showCancelButton: false,
                timer: 1500
            });
        </script>
    <% } else if (announce === 'create') { %>
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Thêm loại thành công',
                showCancelButton: false,
                timer: 1500
            });
        </script>
    <% } else if (announce === 'edit') { %>
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Đổi tên loại thành công',
                showCancelButton: false,
                timer: 1500
            });
        </script>
    <% } else if (announce === 'exist') { %>
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Tên loại đã tồn tại',
                showCancelButton: false,
                timer: 1500
            });
        </script>
    <% } %>
    
    
    <script>
        function showDeleteConfirmation(typeId) {
            Swal.fire({
                title: 'Xác nhận xóa',
                text: 'Bạn có chắc muốn xóa loại vị trí này?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Xóa',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/weads/place/deleteType/' + typeId;
                }
            });
        }
    </script>

</div>

<%- include('./partials/footer') %>