<%- include('./partials/header') %>
<div class="row justify-content-center">

  <% if(role === 'District'){ %>
    <div class="d-flex justify-content-center fw-bold fs-5">
      Chọn phường muốn xem
    </div>
  <select id="ward-select" class="form-control w-25 bg-primary text-center m-3" name="ward-select">
    <option value="all">Chọn tất cả</option>
    <% wards.forEach(function(ward){ %>
      <option value="<%= ward.name %>"><%= ward.name %></option>
    <% }); %>
  </select>
  <% } %>
  <% if(role === 'Department'){ %>
    <div class="d-flex justify-content-center fw-bold fs-5">
      Chọn báo cáo muốn xem
    </div>
    <select id="report-select" class="form-control w-25 bg-primary text-center m-3" name="report-select">
      <option value="all">Chọn tất cả</option>
      <option value="0">Chưa xử lý</option>
      <option value="1">Đang xử lý</option>
      <option value="2">Đã xử lý</option>
    </select>
    <% } %>
  <div class="col-12 col-md-11 col-lg-10">
    <table style="border-right: 1px solid #dee2e6; border-left: 1px solid #dee2e6;" class="table table-hover">
      <thead>
        <tr>
          <th class="text-center" style="background-color: #2b2929; color: white; border-top-left-radius: 5px;" scope="col">Họ tên người gửi</th>
          <th class="text-center" style="background-color: #2b2929; color: white;" scope="col">Địa chỉ bị báo cáo</th>
          <th class="text-center" style="background-color: #2b2929; color: white;" scope="col">Hình thức báo cáo</th>
          <th class="text-center" style="background-color: #2b2929; color: white;" scope="col">Nội dung báo cáo</th>
        </tr>
      </thead>
      <tbody>
        <% if (reports.length > 0) { %>
        <% for(var i = 0; i < reports.length; i++) { %>
        <tr>
          <td class="text-center"><%= reports[i].name %></td>
          <td class="text-center"><%= reports[i].address %></td>
          <% if(reports[i].reportType == 0){ %>
            <td class="text-center">Tố giác sai phạm</td>
          <% }else if(reports[i].reportType == 1){ %>
            <td class="text-center">Đăng ký nội dung</td>
          <% }else if(reports[i].reportType == 2){ %>
            <td class="text-center">Đóng góp ý kiến</td>
          <% }else{ %>
            <td class="text-center">Giải đáp thắc mắc</td>
          <% } %>
          <td class="text-center">
            <a class="btn btn-success" href="/weads/report/details/<%= reports[i]._id %>">Xem chi tiết</a>
          </td>
        </tr>
        <% } %>
        <% } else { %>
        <tr>
          <td class="text-center" colspan="5">Không có báo cáo</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<script>
  const optionString = '<%- JSON.stringify(option) %>';
  const option = JSON.parse(optionString);

  document.addEventListener('DOMContentLoaded', function(){
    let report = document.getElementById('report-select');
    if(report){
      report.value = option;
    }

    let ward = document.getElementById('ward-select');
    if(ward){
      ward.value = option; 
    }
  })
</script>

<script>
  $(document).ready(async function () {
    $("#ward-select").change(function () {
      if ($(this).val() === 'all') {
        window.location.href = "/weads/report"
      } else {
        window.location.href = "/weads/report/ward/" + $(this).val()
      }
    })

    $("#report-select").change(function () {
      if ($(this).val() === 'all') {
        window.location.href = "/weads/report";
      } else {
        window.location.href = "/weads/report/department/" + $(this).val();
      }
    });
  })
</script>


<%- include('./partials/footer') %>