<%- include('./partials/header') %>
<div class="row justify-content-center">
      <div class="form-group form-inline text-center m-3">
        <label class="mr-2">Chọn loại báo cáo:</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input report-select" type="radio" name="report-type" id="report-type-0" value="0" style="border-color: gray;">
          <label class="form-check-label" for="report-type-0">Chưa xử lý</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input report-select" type="radio" name="report-type" id="report-type-1" value="1" style="border-color: gray;">
          <label class="form-check-label" for="report-type-1">Đang xử lý</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input report-select" type="radio" name="report-type" id="report-type-2" value="2" style="border-color: gray;">
          <label class="form-check-label" for="report-type-2">Đã xử lý</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input report-select" type="radio" name="report-type" id="report-type-all" value="all" style="border-color: gray;">
          <label class="form-check-label" for="report-type-all">Chọn tất cả</label>
        </div>
        <div class="form-check form-check-inline">
          <strong>Số lượng: <%= reports.length %></strong>
        </div>
      </div>

    <span class="d-flex align-items-center justify-content-center">
      <% if (role == 'Department') { %>
          <div class="dropdown d-flex align-items-center mb-2 mx-2">
              <h3 class="request-dropdown-label">Quận: </h3>
              <button style="border:1px solid #000;min-width: 100px;" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                  <%- currentDistrict %>
              </button>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/weads/report?option=<%- option %>">Tất cả</a></li>
                  <% for (var i = 0; i < districtList.length; i++) { %>
                      <li><a class="dropdown-item" href="/weads/report?district=<%- districtList[i].name %>&option=<%- option %>"><%- districtList[i].name %></a></li>
                  <% } %>
              </ul>
          </div>
      <% } %>
      <% if (role == 'Department' || role == 'District') { %>
          <% if (currentDistrict != 'Tất cả') { %>
              <div class="dropdown d-flex align-items-center mb-2">
                  <h3 class="request-dropdown-label">Phường: </h3>
                  <button style="border:1px solid #000;min-width: 100px;" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                      <%- currentWard %>
                  </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/weads/report?district=<%- currentDistrict %>&option=<%- option %>">Tất cả</a></li>
                  <% for (var i = 0; i < wardList.length; i++) { %>
                      <li><a class="dropdown-item" href="/weads/report?district=<%- currentDistrict %>&ward=<%- wardList[i].name %>&option=<%- option %>"><%- wardList[i].name %></a></li>
                  <% } %>
                </ul>
              </div>
          <% } %>
      <% } %>
    </span>
  <div class="col-12 col-md-11 col-lg-10">
    <table style="border-right: 1px solid #dee2e6; border-left: 1px solid #dee2e6;" class="table table-hover">
      <thead>
        <tr>
          <th class="text-center" style="background-color: #2b2929; color: white; border-top-left-radius: 5px;" scope="col">Họ tên người gửi</th>
          <th class="text-center" style="background-color: #2b2929; color: white;" scope="col">Địa chỉ bị báo cáo</th>
          <th class="text-center" style="background-color: #2b2929; color: white;" scope="col">Hình thức báo cáo</th>
          <th class="text-center" style="background-color: #2b2929; color: white;" scope="col">Nội dung báo cáo</th>
        </tr>
      </thead>
      <tbody>
        <% if (reports.length > 0) { %>
        <% for(var i = 0; i < reports.length; i++) { %>
        <tr>
          <td class="text-center"><%= reports[i].name %></td>
          <td class="text-center"><%= reports[i].address %></td>
          <td class="text-center"><%= reports[i].reportType %></td>
          <td class="text-center">
            <a class="btn btn-success" href="/weads/report/details/<%= reports[i]._id %>">Xem chi tiết</a>
          </td>
        </tr>
        <% } %>
        <% } else { %>
        <tr>
          <td class="text-center" colspan="5">Không có báo cáo</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<script>
  const optionString = '<%- JSON.stringify(option) %>';
  const option = JSON.parse(optionString);

  document.addEventListener('DOMContentLoaded', function(){
    let ward = document.getElementById('ward-select');
    if(ward){
      ward.value = option; 
    }
    
    let reports = document.getElementsByClassName('report-select');
    
    Array.from(reports).forEach(function(report){
      if (report.value == "<%- option%>") {
        report.checked = true;
      }
    });

  })
</script>

<script>
  $(document).ready(async function () {

    $(".report-select").change(function () {
      if (window.location.pathname.includes('?'))
        window.location.href = window.location.pathname.split('?')[0] + '?district=<%- currentDistrict %>&ward=<%- currentWard %>&option=' + $(this).val();
      else 
        window.location.href = window.location.pathname.split('?')[0] + '?district=<%- currentDistrict %>&ward=<%- currentWard %>&option=' + $(this).val();
    });
  })
</script>


<%- include('./partials/footer') %>