<%- include('./department/partials/header') %>

<form id="edit-account-form" style="width: 70vw; margin: auto; margin-top: 7vh; margin-bottom: 5vh;">
  <div class="border border-secondary rounded p-3" style="font-size: 1.2rem;">
    <div class="text-center mb-3 ">
      <h3 class="create-account-title">Thông tin tài khoản</h3>
    </div>

    <div class="mb-3 form-group row">
      <label for="email" class="form-label col-3 col-lg-2 create-account-label">Google Email:</label>
      <div class="col-9">
        <input type="email" class="form-control create-account-input" id="email" name="email"  value="<%- user.email %>" required>
      </div>
    </div>

    <div class="mb-3 form-group row">
      <label for="username" class="form-label col-3 col-lg-2 create-account-label">Tên tài khoản:</label>
      <div class="col-9">
        <input type="text" class="form-control create-account-input" id="username" name="username" value="<%- user.username %>" required>
      </div>
    </div>

    <div class="mb-3 form-group row">
      <label for="username" class="form-label col-3 col-lg-2 create-account-label">Họ & tên cán bộ:</label>
      <div class="col-9">
        <input type="text" class="form-control create-account-input" id="name" name="name" value="<%- user.name %>" required>
      </div>
    </div>

    <div class="mb-3 form-group row">
      <label for="phone" class="form-label col-3 col-lg-2 create-account-label">Điện thoại:</label>
      <div class="col-9">
        <input type="text" class="form-control create-account-input" id="phone" name="phone" value="<%- user.phone %>" required>
      </div>
    </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success mx-2">Cập nhật</button>
        <a class="btn btn-outline-success" href="/weads/home">Trở về</a>
      </div>

    </div>
</form>
<script>
  function showSuccessModal() {
      Swal.fire({
          icon: 'success',
          title: 'Đã cập nhật thông tin',
          showCancelButton: false,
          timer: null
      }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = '/weads/home';
          }
      });
    }
    function showErrorModal() {
      Swal.fire({
          icon: 'error',
          title: 'Có lỗi xảy ra, vui lòng thử lại',
          showCancelButton: false,
          timer: null
      });
    }
  $("#edit-account-form").on('submit', async function(event) {
    event.preventDefault();
    const email = $("#email").val();
    const name = $("#name").val();
    const username = $("#username").val();
    const phone = $("#phone").val();
    console.log(email, name, username, phone);

    const response = await fetch(window.location.pathname, {
      method: 'POST',
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        email,
        name, 
        username,
        phone,
      })
    })
      .then(function (result) {
        return result.json();
      })
    if (response.success)
      showSuccessModal();
    else {
      showErrorModal();
    }
  })
</script>
<%- include('./department/partials/footer') %>