<%- include('./department/partials/header') %>
<div class="container-fluid d-flex justify-content-center">
  <div class="row justify-content-center col-12 col-sm-11 col-md-10 col-lg-8">
    <form class="license-form">
      <div class="license-form-header">
        <a href="/weads/place/view-all" class="btn btn-outline-success back-btn">Trở lại</a>
        <h3 class="license-form-title">Cấp phép quảng cáo</h3>
      </div>
      <div class="license-form-row">
        <h3 class="row-label">Địa điểm đặt quảng cáo:</h3>
        <input type="text" class="place-input" disabled>
      </div>
      <div class="license-form-row">
        <h3 class="row-label">Tên quảng cáo:</h3>
        <input type="text" class="license-form-input" id="adName" required name="adName">
      </div>
      <div class="license-form-row">
        <h3 class="row-label">Loại bảng quảng cáo:</h3>
        <select class="adType-select" name="adType" id="adType">
          <% for (var i = 0; i < adTypes.length; i++) { %>
          <option value="<%- adTypes[i].name%>" class="adType-option"><%- adTypes[i].name%></option>
          <% } %>
        </select>
      </div>
      <div class="license-form-row">
        <div class="size-row">
          <h3 class="row-label">Kích thước:</h3>
          <input type="text" class="ads-size" id="width" required name="width">m
          x
          <input type="text" class="ads-size" id="height" required name="height">m
        </div>
      </div>

      <div class="mb-3 form-group row">
        <label for="image" class="form-label col-3">Ảnh uploads</label>
        <div class="col-9">
          <input type="file" multiple data-browse-on-zone-click="true" accept="image/*" id="adImages" name="adImages" />
        </div>
      </div>

      <span class="seperate"></span>
      <div class="license-form-row">
        <h3 class="row-label">Tên công ty đặt quảng cáo:</h3>
        <input type="text" class="license-form-input" id="companyName" required name="companyName">
      </div>
      <div class="license-form-row">
        <h3 class="row-label">Thông tin liên lạc công ty:</h3>
        <div class="row d-flex align-items-center justify-content-between">
          <div class="company-info-row col-12 col-md-4">
            <h4 class="company-info-label">SĐT:</h4>
            <input type="text" class="company-info-input" id="companyPhone" required name="companyPhone">
          </div>
          <div class="company-info-row col-12 col-md-7">
            <h4 class="company-info-label">Email:</h4>
            <input type="email" class="company-info-input" id="companyEmail" required name="companyEmail">
          </div>
        </div>
      </div>


      <div class="license-form-row">
        <h3 class="row-label">Thời hạn quảng cáo:</h3>
        <div class="row d-flex align-items-center justify-content-around">
          <div class="company-info-row col-8 col-md-4">
            <h4 class="company-info-label">Bắt đầu:</h4>
            <input type="date" class="company-info-input" id="startDate" required name="startDate">
          </div>
          <div class="company-info-row col-8 col-md-4">
            <h4 class="company-info-label">Kết thúc:</h4>
            <input type="date" class="company-info-input" id="endDate" required name="endDate">
          </div>
        </div>
      </div>
      <span class="seperate"></span>
      <span class="d-flex justify-content-center">
        <button id="license-form-submit" class="btn btn-success">Gửi yêu cầu</button>
      </span>
    </form>
  </div>
</div>

<script>
  $("#adImages").fileinput({ 'showUpload': true, 'previewFileType': 'image', 'allowedPreviewTypes': ["image"] });

  const place = '<%- ward %>' + ', ' + '<%- district %>'
  $('.place-input').val(place);
</script>
<script>
  function removeElement(button) {
    var parentElement = button.parentNode;
    parentElement.parentNode.removeChild(parentElement);
  }
</script>
<script>
  function showSuccessModal() {
    Swal.fire({
      icon: 'success',
      title: 'Tạo yêu cầu thành công',
      showCancelButton: false,
      timer: null
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = '/weads/place/view-all';
      }
    });
  }
  function showErrorModal() {
    Swal.fire({
      icon: 'error',
      title: 'Có lỗi xảy ra, vui lòng thử lại',
      showCancelButton: false,
      timer: null
    });
  }
  $(".license-form").on("submit", async function (event) {
    event.preventDefault();
    const adName = $("#adName").val();
    const adType = $("#adType").find(":selected").val();
    const width = $("#width").val();
    const height = $("#height").val();
    const companyName = $("#companyName").val();
    const companyPhone = $("#companyPhone").val();
    const companyEmail = $("#companyEmail").val();
    const startDate = $("#startDate").val();
    const endDate = $("#endDate").val();

    const formData = new FormData();
    formData.append('adName', adName);
    formData.append('adType', adType);
    formData.append('width', width);
    formData.append('height', height);
    formData.append('companyName', companyName);
    formData.append('companyPhone', companyPhone);
    formData.append('companyEmail', companyEmail);
    formData.append('startDate', startDate);
    formData.append('endDate', endDate);

    var input = document.getElementById('adImages')

    for (const file of input.files) {
      formData.append('theAdImages', file, file.name)
    }

    const response = await fetch(window.location.pathname, {
      method: 'POST',
      body: formData
    })
      .then(function (result) {
        return result.json();
      })
    if (response.success)
      showSuccessModal();
    else {
      showErrorModal();
    }
  });
</script>
<%- include('./department/partials/footer') %>