<%- include('./department/partials/header') %>
<div class="row justify-content-center">

  <% if(role === 'Ward'){ %>
  <select id="ward-select" class="form-control w-25 bg-primary text-center m-3" name="ward-select">
    <option selected value="dummy">----------</option>
    <option value="all">Tất cả</option>
    <option value="ward">Lọc theo phường</option>
  </select>
  <% } %>
  <div class="col-12 col-md-11 col-lg-10">
    <table style="border-right: 1px solid #dee2e6; border-left: 1px solid #dee2e6;" class="table table-hover">
      <thead>
        <tr>
          <th class="text-center" style="background-color: #2b2929; color: white;" scope="col">Phường</th>
          <th class="text-center" style="background-color: #2b2929; color: white;" scope="col">Quận</th>
          <th class="text-center" style="background-color: #2b2929; color: white;" scope="col">Tình trạng quy hoạch</th>
          <th class="text-center" style="background-color: #2b2929; color: white;" scope="col">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <% if (places.length > 0) { %>
        <% for(var i = 0; i < places.length; i++) { %>
        <tr>
          <td class="text-center"><%= places[i].ward %></td>
          <td class="text-center"><%= places[i].district %></td>
          <td class="text-center"><%= places[i].adPlanned %></td>
          <td><a class="btn btn-primary" href="/weads/license-request/create/<%- places[i]._id %>">Xin cấp phép quảng cáo</a></td>
        </tr>
        <% } %>
        <% } else { %>
        <tr>
          <td class="text-center" colspan="4">Không có báo cáo</td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<script>
  $(document).ready(async function () {
    $("#ward-select").change(function () {
      if ($(this).val() === 'all') {
        window.location.href = "/weads/place/view-all"
      } else {
        window.location.href = "/weads/place/view-by-ward"
      }
    })
  })
</script>
<%- include('./department/partials/footer') %>