<%- include('./partials/header') %>

<body>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Họ tên người gửi</th>
        <th scope="col">Địa chỉ bị báo cáo</th>
        <th scope="col">Hình thức báo cáo</th>
        <th scope="col">Email</th>
        <th scope="col">Điện thoại</th>
        <th scope="col">Nội dung báo cáo</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < reports.length; i++) { %>
      <tr>
        <td><%= reports[i].name %></td>
        <td><%=reports[i].address %></td>
        <td><%=reports[i].reportType %></td>
        <td><%=reports[i].email %></td>
        <td><%=reports[i].phone %></td>
        <td>
          <a href="/weads/report/details/<%= reports[i]._id %>">Click here to view details</a>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</body>